.breadcrumb { 
    width: 100%;
    list-style: none; 
    overflow: hidden; 
    font: 18px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li { 
    float: left; 
}
.breadcrumb li a {
    color: lightcoral;
    text-decoration: none; 
    padding: 10px 0 10px 65px;
    position: relative; 
    display: block;
    float: left;
}